/* Stores themed colors for use */
:root {
    --hover: #AED6F1;
    --mainColor: #5DADE2;
}

* {
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(25, 50, 50);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

h1 {
    color: white;
}

.info-header {
    background-color:  var(--mainColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.content {
    display: flex;
    justify-content: center;
    padding: 0 400px;
}

.home-screen, .questions-screen {
    align-items: center;
    flex-direction: column;
    text-align: center;
    
}

.enter-highscores-screen, .view-highscores-screen {
    flex-direction: column;
    align-items: center;
}

.row1, .row2 {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-bottom: 20px;
}

.row1 {
    margin-bottom: 0;
}

.row3 {
    display: flex;
    justify-content: flex-end;
    width: 500px;
    margin-bottom: 20px;
}

.enter-initials {
    width: 300px;
    height: 36px;
    border-radius: 10px;
    font-size: 32px;
    text-align: center;
}

.clear-highscores {
    width: 150px;
    height: 40px;
    background-color: var(--mainColor);
    color: white;
    border: none;
    border-radius: 25px;
    margin-top: 20px;
}

.submit-button, .back-button{
    width: 100px;
    height: 40px;
    padding: 0;
    margin-left: 20px;
    background-color: var(--mainColor);
    color: white;
    border: none;
    border-radius: 25px;
}

.back-button {
    margin-top: 20px;
}

.highscores-heading {
    width: 100%;
    text-align: center;
}

.start-button {
    width: 100px;
    height: 40px;
    margin: 25px 0;
    background-color: var(--mainColor);
    color: white;
    border: none;
    border-radius: 25px;
}
/* Adds the chnage of color when hovered over */
.start-button:hover, .answer-button:hover, .submit-button:hover, .back-button:hover, .clear-highscores:hover {
    background-color: var(--hover);
    cursor: pointer;
}
/* Adds styling to answer buttons */
.answer-button {
    height: 40px;
    margin-bottom: 40px;
    width: 400px;
    background-color: var(--mainColor);
    color: white;
    border: none;
    border-radius: 25px;
}

.result-outcome {
    display: none;
    background-color: grey;
    color: white;
    border-radius: 20px;
    padding: 10px;
}

.stop-quiz {
    padding-right: 43px;
}
/* Adds the chnage of color when hovered over */
.highscores-header:hover, .stop-quiz:hover {
    cursor: pointer;
    color: white;
}

.result-list {
    border-radius: 10px;
    width: 500px;
    margin-bottom: 50px;
}

.highscore {
    text-align: center;
    text-decoration: none;
    padding: 2px;
    font-size: 20px;
    list-style-type: none;
}

.container {
    display: flex;
    flex-direction: row;
}

.result-user, .result.score {
    padding-right: 160px;
}