* {
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(25, 50, 50);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

h1 {
    color: white;
}

.info-header {
    background-color: darkgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.content {
    display: flex;
    justify-content: center;
    padding: 0 400px;
}

.home-screen, .questions-screen {
    align-items: center;
    flex-direction: column;
    text-align: center;
    
}

.enter-highscores-screen {
    flex-direction: column;
    align-items: center;
}
.row1, .row2 {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-bottom: 20px;
}
.row3 {
    display: flex;
    justify-content: flex-end;
    width: 500px;
    margin-bottom: 20px;
}

.enter-initials {
    width: 300px;
    height: 36px;
}
.clear-highscores {
    width: 150px;
    height: 40px;
}
.submit-button, .back-button{
    width: 100px;
    height: 40px;
    padding: 0;
}

.highscores-heading {
    width: 100%;
    text-align: center;
}

.start-button {
    width: 100px;
    height: 40px;
    margin: 25px 0;
}

.answer-button {
    height: 40px;
    margin-bottom: 40px;
    width: 400px;

}
.result-outcome {
    display: none;
}
.highscores-header:hover {
    cursor: pointer;
    color: white;
}